:root {
    --white:#fff;
    --stone-100:hsl(30, 54%, 90%);
    --stone-150:hsl(30, 18%, 87%);
    --stone-600:hsl(30, 10%, 34%);
    --stone-900:hsl(24, 5%, 18%);
    --Brown-800: hsl(14, 45%, 36%);
    --Rose-800: hsl(332, 51%, 32%);
    --Rose-50: hsl(330, 100%, 98%);

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family:"Outfit" ;
    src: url('./assets/fonts/outfit/Outfit-VariableFont_wght.ttf');
}
@font-face {
    font-family: "Yong-serif";
    src: url('./assets/fonts/young-serif/YoungSerif-Regular.ttf');
}
h1,h2,h3{
    font-family: 'Yong-serif', serif;
}
h2{
    color: var(--Brown-800);
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 24px;
}
body{
    font-family: 'Outfit', sans-serif;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--stone-100);
}
main {
    max-width: 745px;
    background-color: var(--white);
    padding: 40px;
    margin: 125px 0;
    border-radius: 20px;
    font-size: 16px;
    
}

.food-picture img{
    width: 100%;
    border-radius: 10px;
}
h1{
    
    color: var(--stone-900);
    font-size: 32px;
    font-weight: 700;
    margin: 30px 0 20px 0;
}
h1 + p {
    margin-bottom: 70px;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    color:var(--stone-600);
}
.prep-time{
    margin-left: 32px;
}
.prep-time h3{
    color:var(--Rose-800);
    font-size: 18px;
    font-weight: 700;
}
.prep-time ul {
    margin-left: 42px;
    margin-top: 24px;
    margin-bottom: 65px;
}
.prep-time ul li {
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: normal;
    color:var(--stone-600);
}
.prep-time ul li::marker {
    color: var(--Rose-800);
    
}

.ingredients ul {
    margin-left: 42px;
    margin-top: 24px;
    margin-bottom: 65px;
}
.ingredients ul li{
    padding-left: 14px;
    margin-top: 20px;
    color:var(--stone-600);
}
.ingredients ul li::marker{
    color: var(--Brown-800);
}
hr{
    margin: 40px 0;
    border : 1px solid var(--stone-150);
    
}
.instruction ol {
    margin-left: 42px;
}
.instruction ol li {
    padding-left: 14px;
    line-height: 1.5;
    color: var(--stone-600);
    margin-top: 20px;
}
.instruction ol li::marker{
    color: var(--Brown-800);
    font-weight: bold;
}

.nutrition p {
    color: var(--stone-600);
}
.nutrition table {
    margin: 35px 0;
    width: 100%;
    border-collapse: collapse;
}
.nutrition td {
    padding: 20px;
}
.nutrition td {
    color: var(--stone-600);
}
.nutrition td:nth-child(2n){
    color: var(--Brown-800);
    font-weight: bold;
}
.nutrition tr:not(:first-child){
   border-top: 2px solid var(--stone-150);
   
}
